:root {
  --lg-a2: #b2ff59; /* light-green accent-2 */
  --lg-d3: #558b2f; /* light-green darken-3 */
  --hdr-ftr-bdr: #33691e; /* light-green darken-4 */
  --hdr-ftr-bg: #ccff90; /* #ccff90 light-green accent-1 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  color: var(--hdr-ftr-bdr);
  background-color: var(--hdr-ftr-bg);
  border-bottom: 4px solid var(--hdr-ftr-bdr);
}

/* #root {
  background-color: black;
} */

.footer {
  width: 100%;
  text-align: center;
  color: var(--hdr-ftr-bdr);
  background-color: var(--hdr-ftr-bg);
  border-top: 2px solid var(--hdr-ftr-bdr);
}

.footer-icons {
  color: var(--hdr-ftr-bdr);
  background-color: var(--hdr-ftr-bg);
  text-align: center;
  padding: 0 10px;
  font-size: 36px;
}

/* .nav {
  color: var(--lg-d3);
  background-color: var(--lg-a2);
} */

.nav-tabs {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  float: right;
  /* color: black;
  background-color: white; */

  /* margin-right: 10%; */
  /* border: 5px solid yellow; */
}

.nav-item {
  background-color: var(--lg-a2);
  /* background-color: white; */
  /* color: black; */
  font-weight: bold;
}

/* .nav-link {
  font-weight: normal;
} */

.hdr-left {
  float: left;
  /* border: 1px solid yellow; */
  background-color: #f0f4c3;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2rem;
}

/* .hdr-font {
  font-size: 48px;
} */

.hdr-right {
  float: right;
  border: 1px solid yellow;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1 p {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid #c0ca33;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  /* width: 375px; */
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 3px 5px 5px darkgray;  
  text-align: left;
}

.card > .img-container {
  /* height: 80%; */
  overflow: hidden;
  text-align: center;
  background:#e3e2e9;
  margin-top: 10px;
  padding-top: 10px;
}

.card > .about-container {
  /* height: 50%; */
  overflow: hidden;
  text-align: center;
  background:#e3e2e9;
  margin-top: 10px;
  padding-top: 10px;
}

.card > .about-container > img {
  width: 75%
}

.card > .img-container > img {
  /* margin-top: 0.5rem; */
  width: 90%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
  border: 2px dotted darkgray;
}

.card > .content > ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 200px; */
}

.card > .content > ul > li {
  margin-top: 3px;
}

.portfolio-container {
  margin-top: 40px;
  max-width: 95%;
}

.port-card {
  margin-top: 5px;
  padding-top: 5px;
  width: 375px;
}
